.categories-table {
    border-collapse: collapse;
    width: 100%;
}

.categories-table th,
.categories-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.categories-table-container {
    width: 100%;
}

.categories-table {
    min-width: 700px;
}